.icon {
    height: 30px;
    width: 30px;
}

.nav-container {
    position: relative;
    z-index: 1000;
}

.menuBackground {
    position: absolute;
    top: 35px;
    right: 20px;
    width: 0px;
    height: 0px;
    background-color: #2b70c9;
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
    z-index: 1;
    pointer-events: none;
    transform: translate(50%, -50%);
}

.menuBackground.expanded {
    width: 5000px;
    height: 5000px;
}

.navBarProfile.expanded {
    color: #fff;
    transition: all 0.5s ease-in-out;
}

.navBarMenu.expanded {
    color: #fff;
    transition: all 0.5s ease-in-out;
}

.menuList {
    position: absolute;
    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style-type: none;
    display: none;
    z-index: 100;
    font-size: 2.5rem; 
    color:#fff;
    text-align: center;
    transition: visibility 0s, opacity 0.3s ease-in-out;
    font-weight: bold;
}

.menuList.visible {
    display: block;
    animation: fadeIn 1.2s ease-in-out forwards;
}

.nav-item {
    margin: 20px 0;
    cursor: pointer;
}