.sidebar {
    width: 250px;
    height: calc(100vh - 60px);
    padding: 20px;
    margin: 20px 10px;
    position: fixed;
    top: 60px;
    left: 0;
    overflow-y: auto;
}

.sidebar h2 {
    font-size: 1.5rem;
}

.sidebar ul {
    list-style: none;
    margin-top: 20px;
}

.sidebar ul li {
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #f6f6f6;
    text-align: center;
    padding: 10px 0px;
}

.sidebar ul li a {
    color: #7954ff;
    text-decoration: none;
    transition: 0.3s;
}

.sidebar ul li:hover {
    background-color: #e4e4e4;
    transform: scale(1.03);
}

.session-list {
    color: #7954ff;
}
