/* App.css */
.app-container {
  display: flex;
  flex-direction: column;
}

.main-container {
  display: flex;
  flex-grow: 1;
  width: 100vw;
  flex-direction: row;
}

.content-container {
  margin-left: 220px; /* Sidebar width */
  margin-top: 60px; /* Navbar height */
  padding: 20px;
  width: calc(100% - 220px); /* Adjust width */
}
